@import "./Utils/variables.scss";
@import "./Components/footer.scss";
@import "./Layout/container.scss";
@import "./Layout/header.scss";
;

/*STYLE DE LA PAGE */

@import "./Pages/menu.scss";

/* CSS pour les grand ecran  */

@import "./Base/media.scss";
.loader_container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    ;
    z-index: 9999;
    animation: disappear 1s linear forwards;//forwards pour retenir la dernière étape de l'animation disappear//
    animation-delay: 3s;
}

.loader {
    width: 8rem;
    height: 8rem;
    text-align: center;
    line-height: 8rem;
    border: .7rem solid #e4e4e4;
    border-radius: 50%;
    color: $secondary;
    position: relative;
    box-shadow: 0 0 20px 8px grey;
    //
    .image {
        height: 5rem;
        width: 5rem;
        background-color: #ffffff;
        font-size: 4em;
        position: absolute;
        top: 1.3rem;
        left: 1.3rem;
        z-index: 100;
        
        animation: ecrase 3s linear forwards;//**linear veut dire vitesse constante totalement droite de la dernière etape de ecrase//
    }
    
    span {
        font-size: 4em;
        line-height: 8rem;
        color: $secondary;
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);//la manière dont est placé l'élément//
    }
}

.loader::before {
    content: '';
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border: .5rem solid rgba(128, 128, 128, 0.548);
    border-radius: 50%;
    border-top-color: transparent;
    //
    animation: rotate 3s ease-in-out infinite reverse;//**tourne rapidement et ralenti à la fin pdt 3s//
}

.loader::after {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 8rem;
    height: 8rem;
    border: 8px solid transparent;
    background-color: transparent;
    border-radius: 50%;
    border-top-color: $secondary;
    animation: rotate 1s ease-in-out infinite; //**tourne rapidement puis ralenti à la fin//
}
//opacité totale jusqu'à sa disparition//
@keyframes fade-in {
    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes disappear {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
//transition rapide dans toute sa hauteur//
@keyframes ecrase {
    100% {
        height: 0;
    }
}
//Etape lorsqu'il tourne sur lui-même//
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
//
@keyframes grow {
    to {
        transform: translate(-50%, -50%) scale(2);//**transformation un peu éloigné de l'écran//
        border-width: 0px;
        opacity: 0;
    }
}
//
@keyframes steps-step {
    50% {
        transform: translateY(-5px) scale(1.06);//**l'effet verticalement au milieu de l'animation//
        background-color: #bf8dfd;
        box-shadow: 0 3px 5px 2px gray;
    }
}