html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: .9em;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.site {
    overflow: hidden;
}

.hide_element {
    display: none;
}

@media (max-width: 1280px) {
    .site {
        width: 100%;
    }
    .menu .group {
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 1280px) {
    .site {
        width: 100%;
        margin: 0 auto;
    }
    .header .help {
        .help_title {
            text-align: center;
        }
        .help_steps ul {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .step {
                width: 32%;
                display: flex;
                flex-direction: column;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                .number {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    margin: 0;
                    transform: translateY(-50%);
                }
                &:hover .number {
                    box-shadow: 0 0 10px gray;
                    transform: translateY(-50%) scale(1.1);
                }
                .fas {
                    margin: 0;
                    margin-bottom: 20px;
                    font-size: 2em;
                }
            }
        }
    }
    .main {
        .restaurants {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .restaurants_title {
                flex-basis: 100%;
                padding: 0 16px 30px 0;
                font-size: 2em;
                font-weight: 800;
                text-align: center;
            }
            .restaurant_card {
                flex-basis: 45%;
            }
        }
    }
    .menu_main header.image {
        height: 15rem;
        background-position: center center;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        header,
        .button_order {
            flex-basis: 100%;
        }
        header span {
            cursor: pointer;
        }
        header span:hover {
            display: none;
        }
        .group {
            width: 45%;
            border-radius: 15px;
            box-shadow: 0 0 20px rgb(196, 196, 196);
            padding: 20px
        }
    }
}

.header .intro {
    padding: 1em;
}

@media (min-width: 635px) {
    .restaurants {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .restaurants_title {
            flex-basis: 100%;
        }
        .restaurant_card {
            flex-basis: 45%;
        }
    }
    .menu_main header.image {
        height: 25rem;
        background-position: center center;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        header,
        .button_order {
            flex-basis: 100%;
        }
        header span {
            cursor: pointer;
        }
        header span:hover {
            display: none;
        }
        .group {
            width: 30%;
            border-radius: 15px;
            box-shadow: 0 0 20px rgb(196, 196, 196);
            padding: 10px;
        }
    }
}

$primary: #9356DC;
$secondary: #FF79DA;
$tertiare: #99E2D0;
$gray: #666666;
.intro_action {
    display: inline-block;
    background: linear-gradient(#ff79da, #9356dc);
    text-decoration: none;
    cursor: pointer;
    border: 0;
    text-align: center;
    border-radius: 25px;
    font-size: 15px;
    color: #fff;
    box-shadow: 0px 3px 4px 2px #d1d1d1;
    font-weight: bold;
    margin: 0 0.3em 1em;
    padding: 15px;
    transition: 0.25s;
    }
    .intro_action:hover{
        background: linear-gradient(#f77dd4, #ab65fa);
        box-shadow: 0px 3px 4px 2px #463737;
    }
.menu_main {
    padding: 0;
    margin: 0;
    background-color: #f3f2f2;
    overflow: hidden;
    .image {
        height: 300px;
        background-image: url("../images/restaurants/la_palette_du_gout.jpg");
        background-size: cover;
        background-position: center;
        &.La_note_enchantee {
            background-image: url("../images/restaurants/La_note_enchantee.jpg");
        }
        &.A_la_francaise {
            background-image: url("../images/restaurants/A_la_francaise.jpg");
        }
        &.Le_delice_des_sens {
            background-image: url("../images/restaurants/le_delice_des_sens.jpg");
        }
    }
    //lA NOTE ENCHANTEE//
    .menu {
        padding: 0 16px;
        margin-top: -50px;
        border-radius: 40px 40px 0 0;
        background-color: #f3f2f2;
        header {
            h2 {
                font-style: italic;
                font-weight: 900;
                font-size: 2em;
                font-family: 'Shrikhand', cursive;
                margin-left: 8px;
            }
            .container {
                margin-right: 2rem;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 30px;
        }
        .group {
            margin-top: 25px;
            h2 {
                font-size: 1.6em;
                color: rgb(87, 87, 87);
                position: relative;
                padding-bottom: 12px;
                display: inline-block;
            }
            h2::after {
                position: absolute;
                content: '';
                width: 50%;
                bottom: 0;
                left: 0;
                height: 4px;
                background-color: #99E2D0;
                border-radius: 4px;
            }
        }
        .button_order {
            text-align: center;
            padding: 30px;
            .order {
                padding: 15px 70px;
            }
        }
    }
}

.group_item.item1 {
    animation: fade-in 1s ease-in-out forwards;
    -webkit-animation: fade-in 1s ease-in-out forwards;
    -moz-animation: fade-in 1s ease-in-out forwards;
}

.group_item.item2 {
    animation: fade-in 1s .2s ease-in-out forwards;
    -webkit-animation: fade-in 1s .2s ease-in-out forwards;
    -moz-animation: fade-in 1s .2s ease-in-out forwards;
}

.group_item.item3 {
    animation: fade-in 1s .4s ease-in-out forwards;
    -webkit-animation: fade-in 1s .4s ease-in-out forwards;
    -moz-animation: fade-in 1s .4s ease-in-out forwards;
}

.group_item.item4 {
    animation: fade-in 1s .6s ease-in-out forwards;
    -webkit-animation: fade-in 1s .6s ease-in-out forwards;
    -moz-animation: fade-in 1s .6s ease-in-out forwards;
}

.group_item.item5 {
    animation: fade-in 1s .8s ease-in-out forwards;
    -webkit-animation: fade-in 1s .8s ease-in-out forwards;
    -moz-animation: fade-in 1s .8s ease-in-out forwards;
}

.group_item.item6 {
    animation: fade-in 1s 1s ease-in-out forwards;
    -webkit-animation: fade-in 1s 1s ease-in-out forwards;
    -moz-animation: fade-in 1s 1s ease-in-out forwards;
}

.group_item.item7 {
    animation: fade-in 1s 1.2s ease-in-out forwards;
    -webkit-animation: fade-in 1s 1.2s ease-in-out forwards;
    -moz-animation: fade-in 1s 1.2s ease-in-out forwards;
}

.group_item.item8 {
    animation: fade-in 1s 1.4s ease-in-out forwards;
    -webkit-animation: fade-in 1s 1.4s ease-in-out forwards;
    -moz-animation: fade-in 1s 1.4s ease-in-out forwards;
}

.group_item.item9 {
    animation: fade-in 1s 1.6s ease-in-out forwards;
    -webkit-animation: fade-in 1s 1.6s ease-in-out forwards;
    -moz-animation: fade-in 1s 1.6s ease-in-out forwards;
}

.group_item {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 15px rgb(196, 196, 196);
    opacity: 0;
    overflow: hidden;
    position: relative;
    top: 20px;
    height: 72px;
    transition: all .2s ease;//**
    cursor: pointer;
    .group_item_description {
        flex-basis: 100%;
        display: flex;
        padding: 16px;
        justify-content: space-between;
        height: 40px;
        .group_item_description_text {
            flex-basis: 70%;
            h3 {
                font-weight: 800;
                margin-bottom: 10px;
                white-space: nowrap;//** pas de retour à la ligne//
                text-overflow: ellipsis;//**rognement du titre//
                overflow: hidden;
            }
            p {
                font-size: .9em;
                white-space: nowrap;
                font-size: 0.9em;
                text-overflow: ellipsis;
                color: black;
                overflow: hidden;
            }
        }
        .group_item_price {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            font-weight: 700;
            font-size: .9em;
            flex-basis: 30%;
        }
    }
    .group_item_selected {
        align-items: center;
        justify-content: center;
        background-color: $tertiare;
        display: none;
        transition: all 0.4s ease;//**l'animation vers la droite; s'apllique à toutes les propriétés//
        display: flex;
        width: 0;
        overflow: hidden;
        color: white;
        font-size: 1.6em;
        span {
            transition: all .4s;//**//
        }
    }
    &:hover {
        box-shadow: 0 0 10px $tertiare;
    }
    &:hover .group_item_description {
        width: 75%;
        .group_item_description_text {
            width: 75%;
        }
        .group_item_price {
            width: 50px;
        }
    }
    &:hover .group_item_selected {
        width: 25%
    }
    &:hover .group_item_selected span {
        transform: rotate(360deg);//**tourne sur lui même//
    }
}

.restaurant_card {
    position: relative;
    display: block;
    transition: all .3s ease-in-out; //**rapide puis ralenti à la fin//
    &:hover {
        transform: translateY(-5px) scale(1.01);//**la transformation au moment de passer la souris**//
        box-shadow: 0 0 10px gray;
    }
    &.new::after {
        content: 'Nouveau';
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: rgb(153, 226, 208);
        color: rgb(43, 129, 108);
        padding: 8px 25px;
        font-size: 1.2em;
        font-weight: 700;
        border-radius: 3px;
    }
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.3rem;
    box-shadow: 0 0 .8rem rgba(134,
    134,
    134,
    0.432);
    .image1,
    .image2,
    .image3,
    .image4 {
        width: 100%;
        height: 13rem;
        background-image: url("../images/restaurants/la_palette_du_gout.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }
    .image2 {
        background-image: url("../images/restaurants/La_note_enchantee.jpg");
        background-position: center;
        background-position-y: 60%;
    }
    .image3 {
        background-image: url("../images/restaurants/A_la_francaise.jpg");
        background-size: cover;
        background-position: bottom;
    }
    .image4 {
        background-image: url("../images/restaurants/le_delice_des_sens.jpg");
    }
    .restaurant_card_body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        .text,
        .like {
            margin: 20px 15px;
            .restaurant_card_title {
                font-size: 1.2em;
                font-weight: 700;
            }
            .restaurant_card_location {
                font-size: 1em;
                font-weight: 300;
                margin-top: 5px;
            }
        }
        .container {
            display: block;
        }
    }
}


.main {
    background-color: #f0f0f0;
    padding: 4rem 1.1rem;
    .restaurants {
        .restaurants_title {
            padding: 0 1rem 2rem 0;
            font-size: 2em;
            font-weight: 800;
        }
    }
}

.footer {
    background-color: $gray;
    color: white;
    padding: 1.2rem;
    .footer_title {
        font-size: 10px;
        font-family: 'Shrikhand', cursive;
    }
    .footer_list {
        margin-top: 16px;
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        li {
            margin-bottom: 10px;
            cursor: pointer;
            &:hover {
                color: $secondary;
            }
            span {
                font-size: .9em;
                display: inline-block;
                width: 15px;
                margin-right: 12px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .footer {
        .footer_title {
            text-align: center;
        }
        .footer_list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin-bottom: 30px;
            li {
                margin: 15px;
            }
        }
    }
}