.intro_action {
    border: none;
    padding: 18px 30px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-radius: 40px;
    font-size: 1.2em;
    color: white;
    box-shadow: 0 0 3px rgba(160, 160, 160, 0.849);
    cursor: pointer;
    text-shadow: 0 0 3px white;
    &:active,
    &:focus {
        outline: 0;
    }
    &:hover {
        background: linear-gradient(to bottom right, #9356DC, #FF79DA);
        transform: scale(1.01);
    }
}