.like {
    position: relative;
    padding-right: 30px;
    span {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 1.6em;
        cursor: pointer;
    }
    .fas {
        display: none;
        color: #9356DC;
    }
    .far:hover {
        display: none;
    }
    .far:hover~.fas {
        display: block;
    }
    .fas:hover {
        display: block;
    }
}