.like {
    position: relative;
    padding-right: 30px;
    span {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.6em;
        cursor: pointer;
        animation: progress-heart 0.8s ease;
        transition: all 1s ease;
    }
    // variables à mettre//
    .fas {
        display: none;
        color: #9356DC;
    }
    .far:hover {
        display: none;
    }
    .far:hover~.fas {
        display: block;
    }
    .fas:hover {
        display: block;
    }
}